*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #f37e3b, #E73C7E, #63ec57, #39e4bc);
    background-size: 300% 300%;
    animation: Gradient 7s ease infinite;
}



@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}




body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.26);
    flex-direction: column;
    border-radius: 20px;
    margin: 50px 0;
}

h1{
    font-size: 50px;
}

a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 70px;
    margin: 10px 0;
    border-radius: 25px;
    background-color: rgba(252, 94, 46, 0.219);
    flex-direction: column;
}

a:hover{
    background-color: rgb(248, 110, 68);
}